@model KarkaThamizha.Object.Models.AccountModels.ChangePasswordModels
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div class="tab-content" style="padding-top:10px;">
    <input type="hidden" value="@Session["UserID"]" id="hdnUserId" />
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CurrentPassword, new { @maxlength = "12", @placeholder = "Password", @class = "form-control", style = "width:55%;min-width:55%;", tabindex = 1 })
        </div>
    </div>
    <div class="form-group">
        <label for="Mobile" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.NewPassword, new { @maxlength = "12", @placeholder = "Mobile", @class = "form-control", style = "width:55%;min-width:55%;", tabindex = 2 })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <button type="submit" id="SaveChangePassword" class="btn btn-warning btn-sm">Submit</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    </div>
</div>

@{
    @section Scripts{
        <script src="~/JavaScript/User.js"></script>
    }
}