@model IEnumerable<KarkaThamizha.Object.Models.BooksDetailsModels>
@using KarkaThamizha.Common.Utility
@{
    ViewBag.Title = "AuthorDetails";
}
@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

<article class="article-container clearfix" itemscope itemtype="http://schema.org/Article">
    <div class="article-content clearfix">

        <div id="divAuthorInfo"></div>

        <div class="product-name">
            <h4 itemprop="name" style="color:yellowgreen;text-align:center;">படைப்புகள்</h4>
        </div>
        <div id="divAuthorBooks"></div>

        <footer class="article-boxes clearfix">


            <!-- Comments Box -->
            <aside class="cat-widget comments-box clearfix" itemprop="comment" itemscope="" itemtype="http://schema.org/UserComments">
                <div class="widget-title">
                    <h3>வாசகர் கருத்துகள்</h3>

                    <div class="sep-widget"></div>
                </div>

                <div class="widget-content color-theme clearfix">
                    <div class="comments">
                        <div id="divUserFeedback"></div>

                        @{
                            Html.RenderPartial("_Comments", new KarkaThamizha.Object.Models.CommentsModels());
                        }

                        @{
                            Html.RenderPartial("_AddComments", new KarkaThamizha.Object.Models.CommentsModels());
                        }

                    </div>
                </div>
            </aside>
        </footer>
    </div>
</article>

@{
    @section scripts{
        <script src="~/JavaScript/KarkaCommonJS.js"></script>
        <script src="~/JavaScript/Authors.js"></script>
        <script>
            var hdnPage = "AuthorDetails";
            var masterPageID = @((int)EnumCode.Pages.AuthorPage);
            var childPageID = '@ViewData["hdnUserID"]';
            var hdnUserID = '@ViewData["hdnUserID"]';
        </script>
    }
}
