<style>
    .dateshow {
        display: inline-block !important;
        float: right; 
    }
    .comments-box li.comment-main > article.comment .comment-content .text {
        margin: 10px 0 10px 0;
    }
</style>
<ol class="comment-list">

    <li class="comment-main" data-showonscroll="true" data-animation="fadeIn">
        <article class="comment">
            <div class="comment-meta comment-author vcard">
                <img alt="" src="" data-src="holder.js/45x45/sky" />
            </div>

            <div class="comment-content comment">
                <div>
                    <cite class="" itemprop="creator"><a href="#" class="url">Sahul Hameed</a><span> - Post author</span></cite>
                    <span class="dateshow"><a href="#" class="time"><i class="icon-alarm2"></i><time itemprop="commentTime" datetime="">August 14, 2013 at 05:41 am</time></a></span>
                </div>

            <p class="text" itemprop="commentText">Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.Etiam pharetra, erat sed fermentum feugiat.</p>
                <div class="options clearfix">
                    <span class="edit-link">
                        <a class="comment-edit-link" href="#" title="Edit comment">Edit</a>
                    </span>

                    <span class="reply">
                        <a class="comment-reply-link" href="#">Reply</a>
                        <meta itemprop="replyToUrl" content="" />
                    </span>
                </div>
            </div>
        </article>

        <ol class="children">
            <li class="comment-main" data-showonscroll="true" data-animation="fadeIn">
                <article class="comment">
                    <div class="comment-meta comment-author vcard">
                        <img alt="" src="" data-src="holder.js/45x45/sky" />
                    </div>

                    <div class="comment-content comment">

                        <a href="#" class="time"><i class="icon-alarm2"></i><time itemprop="commentTime" datetime="">August 15, 2013 at 05:41 am</time></a>

                        <cite class="creator" itemprop="creator"><a href="#" class="url">JoJo</a></cite>

                        <p class="text" itemprop="commentText">Etiam pharetra, erat sed fermentum feugiat.</p>

                        <div class="options clearfix">

                            <span class="reply">
                                <a class="comment-reply-link" href="#">Reply</a>
                                <meta itemprop="replyToUrl" content="" />
                            </span>
                        </div>

                    </div>
                </article>

                <ol class="children">

                    <li class="comment-main" data-showonscroll="true" data-animation="fadeIn">
                        <article class="comment">
                            <div class="comment-meta comment-author vcard">
                                <img alt="" src="" data-src="holder.js/45x45/sky" />
                            </div>

                            <div class="comment-content comment">

                                <a href="#" class="time"><i class="icon-alarm2"></i><time itemprop="commentTime" datetime="">August 16, 2013 at 05:41 am</time></a>

                                <cite class="creator" itemprop="creator"><a href="#" class="url">Samuel</a></cite>

                                <p class="text" itemprop="commentText">Etiam pharetra, erat sed fermentum feugiat.</p>

                                <div class="options clearfix">

                                    <span class="reply">
                                        <a class="comment-reply-link" href="#">Reply</a>
                                        <meta itemprop="replyToUrl" content="" />
                                    </span>
                                </div>

                            </div>
                        </article>

                    </li>
                </ol>

            </li>
        </ol>

    </li>


    <li class="comment-main" data-showonscroll="true" data-animation="fadeIn">
        <article class="comment">

            <div class="comment-meta comment-author vcard">
                <img alt="" src="" data-src="holder.js/45x45/sky" />
            </div>

            <div class="comment-content comment">

                <a href="#" class="time"><i class="icon-alarm2"></i><time itemprop="commentTime" datetime="">August 14, 2013 at 05:41 am</time></a>

                <cite class="creator" itemprop="creator"><a href="#" class="url">Ahmad</a></cite>

                <p class="text" itemprop="commentText">Etiam pharetra, erat sed fermentum feugiat.</p>

                <div class="options clearfix">

                    <span class="reply">
                        <a class="comment-reply-link" href="#">Reply</a>
                        <meta itemprop="replyToUrl" content="" />
                    </span>
                </div>

            </div>

        </article>

    </li>

</ol>