<aside class="tags-box clearfix" data-showonscroll="true" data-animation="fadeIn">
    <div class="box-title">
        <h3>Tagged With:</h3>
    </div>

    <div class="box-content tags-cloud clearfix">
        <a href="#">Technology<span class="badge">15</span></a>
        <a href="#">President<span class="badge">10</span></a>
        <a href="#">Coup<span class="badge">13</span></a>
    </div>
</aside>

