@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<KarkaThamizha.Object.Models.EventsModels>
@using KarkaThamizha.Common.Utility

<!-- main content -->
<article class="article-container clearfix" itemscope itemtype="http://schema.org/Article">

    <div class="article-content clearfix">

        <header>
            <div class="breadcrumb-container clearfix" itemscope itemtype="http://schema.org/WebPage">
                <ul class="breadcrumb ltr" itemprop="breadcrumb">
                    <li><i class="icon-home3"></i><a href="#">Home</a></li>
                    <li><a href="#">நிகழ்வுகள்</a></li>
                    @*<li><a href="#">Smartphones</a></li>*@
                    <li>@ViewData["EventsType"]</li>
                </ul>
            </div>
            <div class="figure-container">
                <figure class="featured-post-figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

                    <a data-lightbox="true" title="Image With Image + Lightbox" href="~/Images-Website/8.png"><img itemprop="contentURL" src="~/Images-Website/7.jpg" /></a>

                    <figcaption itemprop="description">A few words about item</figcaption>
                </figure>

            </div>

            <h3 itemprop="headline">@ViewData["EventsType"]</h3> <input type="hidden" id="hdnMainPage" value="@ViewData["hdnPage"]" />

            <div class="post-meta">
                <ul>
                    <li><i class="icon-user3"></i><a href="#">Serpentsoft</a></li>
                    <li><i class="icon-library"></i><a href="#">World</a></li>

                    <li itemprop="datePublished"><i class="icon-alarm2"></i>14 Aug, 2013 at 06:15 AM</li>
                    <li><i class="icon-bubbles4"></i><a href="#" itemprop="interactionCount">4 Comments</a></li>
                    <li itemprop="interactionCount"><i class="icon-tv"></i><label id="lblPageViewCount"></label></li>
                    <li itemprop="interactionCount">
                        <a href="#" id="PageLike" itemprop="interactionCount"><i class="icon-heart"></i><label id="lblPageLikeCount"></label></a>
                    </li>
                </ul>
            </div>

            <div class="divider"></div>
        </header>

        <div id="divEvents"></div>
    </div>
</article>

@{
    @section scripts{
        <script>
            debugger;
            @*var masterPageID = @(Convert.ToInt32(ViewData["hdnPage"]));*@
            var masterPageID = $("#hdnMainPage").val();
            var childPageID = 0;
        </script>
        <script src="~/JavaScript/Events.js"></script>
        <script src="~/JavaScript/KarkaCommonJS.js"></script>
    }
}