@model KarkaThamizha.Object.Models.BooksDetailsModels
@{
    ViewBag.Title = "UserProfile";
}


@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

<style></style>

<div style="height:980px;">
    @*<div class="widget-title">
            <h3><a href="#">Personal Details</a></h3>
            <span class="sub-title">.</span>
            <div class="sep-widget"></div>
        </div>*@

    <div class="color-red widget-content clearfix">
        
            <article class="odd-item" data-showonscroll="true" data-animation="fadeIn">
                <div class="row">
                    <div class="col-md-6">
                        <h1>ரோமாபுரிப் பாண்டியன்</h1>
                        <span>2005</span>
                    </div>
                    <div class="col-md-3">கற்க தமிழா மதிப்பு(Rating)</div>
                    <div class="col-md-3">உங்கள் மதிப்பு</div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images-Books/Velpari.jpg" style="height:400px;" />
                    </div>
                    <div class="col-md-9">
                        <iframe itemprop="contentURL" class="youtube-player" type="text/html" width="100%" height="400px" src="https://www.youtube.com/embed/OeRvH1BjwlY" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       Novel(Hostoric Novel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            தன்னலமற்ற கொடை உள்ளத்தாலும், அன்புவழிப்பட்ட வாழ்வியல் மரபாலும் பாரியின் புகழ் தமிழ் நிலம் எங்கும் பரவியது. மூவேந்தர்களான சேர, சோழ, பாண்டியர்கள் அவன் புகழ் கண்டு
                            வெதும்பினர். பறம்பு நாட்டின் நிலவளம் அவர்களின் கண்களை உறுத்தியது. பாரிக்கு எதிராகத் தனித்தனியே அவர்கள் மேற்கொண்ட போர் முயற்சிகள் கைகூடவில்லை. இறுதியில்
                            மூவேந்தர்களும் ஒன்றிணைந்தனர். அவர்களின் கூட்டுப்படை பாரியின் பறம்பு நாட்டை அனைத்துத் திசைகளில் இருந்தும் ஒருசேரத் தாக்கியது. சின்னஞ்சிறு `டிராய்’ நகரின் மீது மொத்த
                            கிரேக்கப் படையும் போர் தொடுத்ததைப் போலத்தான் இதுவும் நிகழ்ந்தது. பெரும் நிலப்பரப்பை ஆண்ட மூவேந்தர்களின் கூட்டுப்படை, ஒரு குறுநில மன்னனால் சிதறடிக்கப்பட்டது.
                            அதன் பின் மூவேந்தர்களும் ஒன்றாய் சதிசெய்து, வஞ்சினம் நிகழ்த்தி, பாரியின் உயிர் பறித்தனர். வீரத்தால் சாதிக்க முடியாததை துரோகம் செய்து முடித்தது. இயற்கைக்கும் மனிதனின்
                            பேராசைக்கும் இடையில் இன்று நடக்கும் போராட்டத்தின் ஆதிவடிவம்தான் வேள்பாரியின் கதை. திரும்பும் திசையெல்லாம் அருவி கொட்டும் குறிஞ்சி நிலத்தில், அந்த அருவி நீரினும்
                            குழுமையுடை பாரியின் கரம்பற்றி நடக்க வாருங்கள்...
                        </p>
                    </div>
                </div>
            </article>
        
        <div class="divider"></div>

    </div>
</div>
