@using KarkaThamizha.Common.Utility

<!-- main content -->
<article class="article-container clearfix" itemscope itemtype="http://schema.org/Article">
    <div class="article-content clearfix">
        <div id="divBookPreRelease"></div>

        <footer class="article-boxes clearfix">

            <aside class="tags-box clearfix" data-showonscroll="true" data-animation="fadeIn">
                <div class="box-title">
                    <h3>Tagged With:</h3>
                </div>

                <div class="box-content tags-cloud clearfix">
                    <a href="#">Technology<span class="badge">15</span></a>
                    <a href="#">President<span class="badge">10</span></a>
                    <a href="#">Coup<span class="badge">13</span></a>
                </div>
            </aside>

            <aside class="share-box clearfix" data-showonscroll="true" data-animation="fadeIn">
                <div class="box-title">
                    <h3>Share On:</h3>
                </div>

                <div class="box-content share-icons clearfix">
                    <a href="#" class="facebook">facebook<span class="badge"><i class="zoc-facebook"></i></span></a>
                    <a href="#" class="twitter">twitter<span class="badge"><i class="zoc-twitter"></i></span></a>
                    <a href="#" class="gplus">google+<span class="badge"><i class="zoc-gplus"></i></span></a>
                    <a href="#" class="pinterest">pinterest<span class="badge"><i class="zoc-pinterest"></i></span></a>
                    <a href="#" class="stumbleupon">stumbleupon<span class="badge"><i class="zoc-stumbleupon"></i></span></a>
                </div>
            </aside>
        </footer>
    </div>
</article>

@{
    @section scripts{
        <script>
            var masterPageID =@((int)EnumCode.Pages.BookPreRelease);
            var childPageID = 0;    //EVentsID / ArticleID / InterviewID
        </script>
        <script src="~/JavaScript/KarkaCommonJS.js"></script>
        <script src="~/JavaScript/BookPreRelease.js"></script>
    }
}