@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main content -->
<article class="article-container" itemscope itemtype="http://schema.org/Article">

    <div class="article-content sitemap-page">
        <header>

            <div class="breadcrumb-container clearfix" itemscope itemtype="http://schema.org/WebPage">
                <ul class="breadcrumb ltr" itemprop="breadcrumb">
                    <li><i class="icon-home3"></i><a href="#">மற்றவை</a></li>
                    <li>தொடர்புக்கு</li>
                </ul>
            </div>

            <h3 itemprop="headline">எங்களைத் தொடர்பு கொள்ள</h3>

            @*<div class="post-meta">
                <ul>
                    <li title="Post Author"><i class="icon-user3"></i><a href="#">Serpentsoft</a></li>
                    <li><i class="icon-library"></i><a href="#" title="">World</a></li>

                    <li itemprop="datePublished"><i class="icon-alarm2"></i>14 Aug, 2013 at 06:15 AM</li>
                    <li><i class="icon-bubbles4"></i><a href="#" itemprop="interactionCount">12</a></li>
                    <li itemprop="interactionCount"><i class="icon-tv"></i>35</li>
                    <li itemprop="interactionCount"><i class="icon-heart"></i>120</li>

                </ul>
            </div>*@

            <div class="divider"></div>
        </header>

        <div class="post-entry" itemprop="articleBody">
        </div>

        <div class="items">

            <ul class="cbp_tmtimeline">
                <li class="post-item pages" data-showonscroll="true" data-animation="fadeIn">
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>14 Aug, 2013</span> <span>06:30 AM</span></time>
                    <div class="cbp_tmicon">
                        <i class="icon-stack"></i>
                    </div>
                    <div class="cbp_tmlabel">
                        <h4>முகவரி</h4>

                        <ul class="list-unstyled">
                            <li>7/14, ஆசாத் நகர் 3வது தெரு,</li>
                            <li><a href="#">அமைந்தகரை,</a></li>
                            <li><a href="#">சென்னை - 600 029.</a></li>
                        </ul>
                    </div>
                </li>

                <li class="post-item categories" data-showonscroll="true" data-animation="fadeIn">
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>26 Aug, 2013</span> <span>12:30 PM</span></time>
                    <div class="cbp_tmicon">
                        <i class="icon-books"></i>
                    </div>
                    <div class="cbp_tmlabel">
                        <h4>அலைபேசி</h4>

                        <div class="tags-cloud clearfix">
                            <a href="#">81 22 88 5555<span class="badge">தொடர்பு எண் 1:</span></a><br /><br />
                            @*<a href="#">81 899 899 55<span class="badge">தொடர்பு எண் 1:</span></a><br /><br />*@
                            <a href="#">81 899 899 11<span class="badge">தொடர்பு எண் 2:</span></a>
                        </div>
                    </div>
                </li>

                <li class="post-item tags" data-showonscroll="true" data-animation="fadeIn">
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>30 Aug, 2013</span> <span>01:30 PM</span></time>
                    <div class="cbp_tmicon">
                        <i class="icon-tags"></i>
                    </div>
                    <div class="cbp_tmlabel">
                        <h4>மின்னஞ்சல்</h4>

                        <div class="tags-cloud clearfix">
                            <a href="mailto:support@karkathamizha.com">support@karkathamizha.com<span class="badge">EMail</span></a>
                        </div>
                    </div>
                </li>

                <li class="post-item authors" data-showonscroll="true" data-animation="fadeIn">
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>30 Aug, 2013</span> <span>01:30 PM</span></time>
                    <div class="cbp_tmicon">
                        <i class="icon-users2"></i>
                    </div>
                    <div class="cbp_tmlabel">
                        <h4>சமூக ஊடகம்</h4>
                        <div class="tags-cloud clearfix">
                            <a href="http://www.facebook.com/karkathamizha" target="_blank" rel="noreferrer">http://www.facebook.com/karkathamizha<span class="badge">முகநூல்</span></a><br /><br />
                            <a href="https://twitter.com/karkathamizha"  target="_blank" rel="noreferrer">https://twitter.com/karkathamizha<span class="badge">ட்விட்டர்</span></a>
                        </div>
                    </div>
                </li>
            </ul>
</div>
    </div>
</article>

