<table id="tamilchar" style="background-color:#666;">
    <tr>
        <td style="padding:10px;">
            <a href="#">அ</a>
            <a href="#">ஆ</a>
            <a href="#">இ</a>
            <a href="#">ஈ</a>
            <a href="#">உ</a>
            <a href="#">ஊ</a>
            <a href="#">எ</a>
            <a href="#">ஏ</a>
            <a href="#">ஐ</a>
            <a href="#">ஒ</a>
            <a href="#">ஓ</a>
            <a href="#">ஔ</a>   |
            <a href="#">க</a>
            <a href="#">ச</a>
            <a href="#">ட</a>
            <a href="#">த</a>
            <a href="#">ப</a>
            <a href="#">ற</a>
            <a href="#">ஞ</a>
            <a href="#">ங</a>
            <a href="#">ந</a>
            <a href="#">ண</a>
            <a href="#">ம</a>
            <a href="#">ன</a>
            <a href="#">ய</a>
            <a href="#">ர</a>
            <a href="#">ல</a>
            <a href="#">வ</a>
            <a href="#">ள</a>
            <a href="#">ழ</a>
        </td>
    </tr>
</table>